.main {
    margin: 0 auto;
  }
  
  .main-blogs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
    
  @media (max-width: 1180px) {
    .main {
      margin: 0 auto;
    }
  
    .main-blogs {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      height: max-content;
      justify-content: center;
      flex-direction: row;
      align-items: flex-start;
    }
  
  }
  
  @media (max-width: 768px) {
    /* .mian-search {
      right: 0px;
    }
  
    .input {
      position: relative;
      right: 20px;
    } */
  }
  


/* .main {
    margin: 0 auto;
}

.main-blogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1160px;
    height: 1503px;
    margin: 0 auto;
    align-items: center;
}

.mian-search {
    position: absolute;
    top: 22px;
    right: 190px;
    display: flex;
    align-items: center;
}

.mian-search img {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.input {
    padding: 10px;
    width: 60px;
    height: 40px;
    background: none;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    outline: none;
    transition: .5s;
    border: none;
}

.mian-search:hover input {
    width: 200px;
    background: white;
    border-radius: 2px;
    border: 1px solid #E9E9E9;
}

.mian-search img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}

.mian-search:hover img {
    opacity: 0;
    z-index: -1;
}

@media (max-width: 1180px) {
    .main {
        width: 820px;
        margin: 0 auto;
    }

    .main-blogs {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 820px;
        height: max-content;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
    }

    .mian-search {
        right: 45px;
    }

    .input {
        position: relative;
        right: 20px;
    }
}

@media (max-width: 768px) {
    .main {
        width: max-content;
        margin: 0 auto;
    }

    .main-blogs {
        display: block;
        margin: 0 auto;
        width: max-content;
        height: max-content;
    }

    .mian-search {
        right: 0px;
    }

    .input {
        position: relative;
        right: 20px;
    }
} */