.main {
  margin: 0 auto;
}

.main-blogs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .main {
    margin: 0 auto;
  }

  .main-blogs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: max-content;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }

}

@media (max-width: 768px) {
  .main {
    margin: 0 auto;
  }
}