.header {
    border-bottom: 1px solid #E9E9E9;
    height: 81px;
    margin: 0 auto;
}

.header-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    height: 100%;
}

.header-logo-conteiner {
    text-align: center;
}

.header-logo {
    width: 181px;
    height: 27px;
}

.col-3 {
    width: 33%;
}

@media (max-width: 768px) {

    .header-item {
        max-width: 768px;
        width: 100%;
    }

    .header-logo {
        width: 163px;
        height: 24px;
    }

    .header {
        border: none;
    }

    .header_menu {
        display: none;
    }

    .display-none {
        display: none;
    }

    .col-25 {
        width: 25%;
    }

    .col-50 {
        width: 50%;
    }

}

@media (max-width: 1160px) {

    .header {
        border: none;
    }

    .header_menu {
        display: none;
    }

    .display-none {
        display: none;
    }

    .header-logo {
        width: 163px;
        height: 24px;
    }

}